.progress--style{
  position: relative;
     min-width:35vw;
     margin-left:20px;
     
   }
   .progress--div{
    
     display: inline-flex;
    
    
   }
   .progress--text{
   font-family: Helvetica, Arial, sans-serif;
   color: darken(grey, 10);
   font-weight: bold;
   font-size: 17px;
   width: 50px;
   height: 40px;
}

.skills{
 
  border-left: 2px ;
  border-left-style: groove; 
  border-left-color: lighten(grey, 40%);

}


// .hobbies{

//   height: 20vw;
// }

.button {
   
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 1px;
  cursor: pointer;
  border-radius: 10px;
  // float:left;
  font-weight:bold;
}
.button:hover {
  background-color: darken(#a2d39c, 10);
  color: white;
}